certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.5
docopt==0.6.2
gitignore==0.0.8
gunicorn==19.9.0
idna==2.8
pipenv==2018.11.26
psycopg2==2.8.3
pytz==2019.2
requests==2.22.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.3
virtualenv==16.7.5
virtualenv-clone==0.5.3
whitenoise==3.3.1
